[submodule "themes/themes/zola-resume"]
	path = themes/themes/zola-resume
	url = git@github.com:alongwy/zola-resume.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
